name: ci

on:
    workflow_dispatch:

jobs:
    test_rust:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo content
              uses: actions/checkout@v6

            - name: run tests
              run: |
                  cargo test
    test_python:
      runs-on: ubuntu-latest
      steps:
          - name: checkout repo content
            uses: actions/checkout@v6

          - name: run tests
            run: |
                python -m unittest discover tests
